@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


*{
  
    box-sizing: border-box;
}

body{
    /* background-color: #0A0A0A;
    color: #fff; */
    font-family: "Poppins", sans-serif;
}


.hover-scale:hover svg{
    transform: scale(0.96);
    transition: all.4s;
}

.hover-scale:hover {
    transform: scale(0.96);
    transition: all.4s;
}

.handleClick:active{
  transform: scale(0.96);
}